.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #212529; /* 调整为更柔和的黑色文本 */
  background-color: #ffffff; /* 使用纯白背景以增强对比度 */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh; /* Make container fill the viewport height */
  box-sizing: border-box;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

#search-input {
  width: 100%;
}

.results-container {
  text-align: left;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: auto; /* 保留整体垂直滚动 */
}

.row {
  padding: 5px 10px;
  border-bottom: 1px solid #dee2e6;
  box-sizing: border-box;
  white-space: nowrap; /* 防止文本换行 */
  overflow-x: hidden; /* 禁止水平滚动 */
  overflow-y: hidden; /* 禁止垂直滚动 */
  text-overflow: ellipsis; /* 长文本显示省略号 */
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #212529;
  background-color: #f8f9fa; /* 统一输入框和按钮背景色 */
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05); /* 减淡阴影 */
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #007bff; /* 设置统一的悬停高亮色 */
}

button:active {
  border-color: #007bff;
  background-color: #e9ecef;
}

input,
button {
  outline: none;
}

.status-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  background-color: #f8f9fa;
  text-align: center;
  font-size: 0.9em;
  color: #6c757d; /* 使用更柔和的文本颜色 */
  border-top: 1px solid #dee2e6;
  transition: transform 0.5s ease-in-out;
}

.status-bar.fade-out {
  transform: translateY(100%);
}

.initializing-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border-left-color: #09f;
  margin-right: 8px;

  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #e9ecef; /* 优化暗色模式下的文本颜色 */
    background-color: #121212; /* 使用更深邃的背景色 */
  }

  .row {
    border-bottom: 1px solid #343a40;
  }

  a:hover {
    color: #0d6efd; /* 统一暗色模式下的高亮色 */
  }

  input,
  button {
    color: #e9ecef;
    background-color: #212529;
    border: 1px solid #343a40;
  }

  button:hover {
    border-color: #0d6efd;
  }

  button:active {
    background-color: #343a40;
  }

  .status-bar {
    background-color: #212529;
    color: #adb5bd;
    border-top: 1px solid #343a40;
  }
}
